# EditorConfig is awesome: https://EditorConfig.org

# 顶层配置文件
root = true

# 所有文件的默认配置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown 文件的特定配置
[*.{md,markdown}]
indent_style = space
indent_size = 2
# Markdown 中的尾随空格有特殊意义（用于换行），所以不要自动删除
trim_trailing_whitespace = false
max_line_length = off
