<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style type='text/css'>
    body,
    .markdown-body {
        font-family: 'Inconsolata', 'Noto Sans SC', 'Source Han Sans SC', monospace !important;
    }

    blockquote:has(img.emoji[alt=":warning:"]) {
        background-color: #f9e3b3;
        border-left-color: #e7c000;
    }

    blockquote:has(img.emoji[alt=":bulb:"]) {
        background-color: #b5daff;
        border-left-color: #42b983;
    }

    blockquote:has(img.emoji[alt=":stop_sign:"]) {
        background-color: #fec4c4;
        border-left-color: #cc0000;
    }
</style>
