@import "{{ site.theme }}";

blockquote {
  &:has(g-emoji[alias="bulb"]) {
    background-color: #b5daff;
    border-left-color: #42b983;
  }
  
  &:has(g-emoji[alias="warning"]) {
    background-color: #f9e3b3;
    border-left-color: #e7c000;
  }
  
  &:has(g-emoji[alias="stop_sign"]) {
    background-color: #fec4c4;
    border-left-color: #cc0000;
  }
} 